.picture-tile{
    width: 7vw;
    height: 5vw;
    transition: transform .1s;
}

.picture-tile:hover {
    transform: scale(1.2);
}

.picture-tile-container{
    width: 8.4vw;
    height: 6vw;
}


#page{
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

body{
    margin: 0;
    padding: 0;
}

#slideshow-view{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;

    animation: bigFade 1s;
}


@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.slide {
    margin: 0 25vw;
    display: none;
    width: 50vw;
    height: 35vw;//change
    position: fixed;
    animation: fadeInAnimation 1s;
}

.close{
    top: 1vw;
    right: 2vw;
    font-size: 3em;
    float: right;
}

#table-container{
    margin: 5vh 29vw;
    width: 58vw;
}

.slideshow-button{
    cursor: pointer;
    position: fixed;
    color: white;
    z-index: 1;
    user-select: none;
}

.arrow{
    font-size: 5vw;
    top: 10vw;
    width: 3vw;
}

.prev{
    left: 22vw;
}

.next {
    left: 75vw;
}

.darken:hover{
    color: dimgrey;
}

.thumb-slider{
    top: 35vw;
    width: 80vw;
    left: 10vw;
    padding: 20px;
}
.slide-thumb{
    float: left;
    padding: .5vw;
    width: 9.5vw;
    display: none;
    transition: transform .1s;
}

.slide-thumb:hover{
    transform: scale(1.1);
}

.play-button-container{
    width: 100vw;
}

.play{
    width: 6vw;
    font-size: 2em;
    margin-left: 47vw;
    top: 44vw;
    height: 2em;
}