.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}

.padding-md{
    padding: 2em;
}
.padding-sm{
    padding: 5px;
}

.margin-sm{
    margin: 5px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.margin-lg{
    margin: 30px;
}

body{
    margin: 0;
    padding: 0;
}